.registration{

    display:flex;
    justify-content: center;

    flex-direction: row;
}

.login{
    display:flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
}