.flex-container {
    display: flex;
    height: 100vh; 
  }
/*   
  .flex-container > div {
    flex: 1;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */

  .box1 {
    flex: 2; /* Takes 2 parts of the available 5 parts (2/5) */
    background-color: #f1f1f1;
    /* margin: 10px; */
    padding: 10px;
    font-size: 30px;
  }

  .box2 {
    flex: 3; /* Takes 3 parts of the available 5 parts (3/5) */
    background-color: #f1f1f1;
    /* margin: 10px; */
    padding: 10px;
    font-size: 25px;
  }

  .img-photoss{
width: 400px;
height: 50vh;
margin: 20px;
  }