body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .header{
  display: flex;
  justify-content: space-between;
  border: 1PX solid black;

 }
 .logo{

  width: 100px;

 } */
 .search-bar{
   text-align: left;
   padding:10
 }

 .body{
    align-content: start;
 }

 .nav-items {
  padding: 0px 20px;
 }
 .nav-items > ul{
  /* font-size: 18px; */
  display: flex;
  list-style-type: none;


 }
 
 .nav-items > ul > li{
  padding: 10px;
  margin: 10px;
 }

 .rest-card{
   align-content: start;
  padding: 5px;
  width:200px;
  height:400px;
  margin:5px

  

 }
 .restro-container{
  display: flex;
  flex-wrap: wrap;
  padding:40px;
  text-align: left;
 }

 .rest-card:hover{
  cursor: pointer;
  border:1px solid rgb(105, 101, 101);
 }
 .search{
  padding: 10px;
 }

 .img-photo{
  width: 200px;
  height:150px;
  border-radius: 10px;
 }
 
 .filter-btn{
  margin: 10px;
  cursor:pointer;
 }

 .shimmer-container{
display: flex;

 }
 .shimmer-card{
  margin:20px;
  width: 200px;
  height:400px;
  background-color: gray;

 }

 .card{
  display: block;
 }

